In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)

To get Tennessee and the US you have to download from the , each of which you will save with the listed file names as .csv's after deleting the top 3 rows with the industry information and the bottom rows containing the data notes: *THIS IS FROM THE 2017 BASE FILES*

+ WP032: Total Employment --> (totalemployment.csv)
+ WP033: Farm Employment --> (farm.csv)  
+ WP034: Forestry, Fishing, Related Activities & Other Employment --> (forestry_fishing_related.csv)
+ WP035: Mining Employment --> (mining.csv)  
+ WP036: Utilities Employment --> (utilities.csv)  
+ WP037: Construction Employment --> (construction.csv)  
+ WP038: Manufacturing Employment --> (manufacturing.csv)  
+ WP039: Wholesale Trade Employment --> (wholesale_trade.csv)  
+ WP040: Retail Trade Employment --> (retail_trade.csv)  
+ WP041: Transportation & Warehousing Employment --> (transportation_warehousing.csv)  
+ WP042: Information Employment --> (information.csv)  
+ WP043: Finance & Insurance Employment --> (finance_insurance.csv)  
+ WP044: Real Estate & Rental & Leasing Employment --> (realestate_rental_leasing.csv)  
+ WP045: Professional & Technical Services Employment --> (professional_technical_services.csv)  
+ WP046: Management of Companies & Enterprises Employment --> (management_companies_enterprises.csv)  
+ WP047: Administrative & Waste Services Employment --> (administrative_waste_services.csv)  
+ WP048: Educational Services Employment --> (educational_services.csv)  
+ WP049: Healthcare & Social Assistance Employment --> (healthcare_social_assistance.csv)  
+ WP050: Arts, Entertainment, & Recreation Employment --> (arts_entertainment_recreation.csv)  
+ WP051: Accommodation & Food Services Employment --> (accommodation_food_services.csv)  
+ WP052: Other Services, Except Public Administration Employment --> (other_except_public_administration.csv)  
+ WP053: Federal Civilian Government Employment --> (federal_civilian.csv)  
+ WP054: Federal Military Employment --> (federal_military.csv)  
+ WP055: State & Local Government Employment --> (state_local.csv)  

Also bring in the UrbanSIM data for total employment at the place level so that this can all just be one .csv

In [2]:
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y
def percent(x, y):
    return (x/y)*100

## NAICS-Level files for US, Tennessee, and Counties

In [3]:
totalemployment = pd.read_csv('../../Data Downloads/totalemployment.csv')
farm = pd.read_csv('../../Data Downloads/farm.csv') 
forestry_fishing_related = pd.read_csv('../../Data Downloads/forestry_fishing_related.csv')
mining = pd.read_csv('../../Data Downloads/mining.csv')  
utilities = pd.read_csv('../../Data Downloads/utilities.csv')  
construction = pd.read_csv('../../Data Downloads/construction.csv') 
manufacturing = pd.read_csv('../../Data Downloads/manufacturing.csv') 
wholesale_trade = pd.read_csv('../../Data Downloads/wholesale_trade.csv') 
retail_trade = pd.read_csv('../../Data Downloads/retail_trade.csv') 
transportation_warehousing = pd.read_csv('../../Data Downloads/transportation_warehousing.csv')  
information = pd.read_csv('../../Data Downloads/information.csv') 
finance_insurance = pd.read_csv('../../Data Downloads/finance_insurance.csv')
realestate_rental_leasing = pd.read_csv('../../Data Downloads/realestate_rental_leasing.csv') 
professional_technical_services = pd.read_csv('../../Data Downloads/professional_technical_services.csv') 
management_companies_enterprises = pd.read_csv('../../Data Downloads/management_companies_enterprises.csv')  
administrative_waste_services = pd.read_csv('../../Data Downloads/administrative_waste_services.csv') 
educational_services = pd.read_csv('../../Data Downloads/educational_services.csv')  
healthcare_social_assistance = pd.read_csv('../../Data Downloads/healthcare_social_assistance.csv')
arts_entertainment_recreation = pd.read_csv('../../Data Downloads/arts_entertainment_recreation.csv') 
accommodation_food_services = pd.read_csv('../../Data Downloads/accommodation_food_services.csv')  
other_except_public_administration = pd.read_csv('../../Data Downloads/other_except_public_administration.csv')
federal_civilian = pd.read_csv('../../Data Downloads/federal_civilian.csv')  
federal_military = pd.read_csv('../../Data Downloads/federal_military.csv')  
state_local = pd.read_csv('../../Data Downloads/state_local.csv')

In [4]:
dfs = [totalemployment, farm, forestry_fishing_related, mining, utilities, construction, manufacturing, wholesale_trade, retail_trade, 
       transportation_warehousing, information, finance_insurance, realestate_rental_leasing, professional_technical_services, 
       management_companies_enterprises, administrative_waste_services, educational_services, healthcare_social_assistance, arts_entertainment_recreation, 
       accommodation_food_services, other_except_public_administration, federal_civilian, federal_military, state_local]

In [5]:
totalemployment = totalemployment.loc[(totalemployment['NAME'] == 'UNITED STATES')|(totalemployment['NAME'] == 'TENNESSEE')|(totalemployment['TYPE'] == '5')]
farm = farm.loc[(farm['NAME'] == 'UNITED STATES')|(farm['NAME'] == 'TENNESSEE')|(farm['TYPE'] == '5')]
forestry_fishing_related = forestry_fishing_related.loc[(forestry_fishing_related['NAME'] == 'UNITED STATES')|(forestry_fishing_related['NAME'] == 'TENNESSEE')|
                                                        (forestry_fishing_related['TYPE'] == '5')]
mining = mining.loc[(mining['NAME'] == 'UNITED STATES')|(mining['NAME'] == 'TENNESSEE')|(mining['TYPE'] == '5')]
utilities = utilities.loc[(utilities['NAME'] == 'UNITED STATES')|(utilities['NAME'] == 'TENNESSEE')|(utilities['TYPE'] == '5')]
construction = construction.loc[(construction['NAME'] == 'UNITED STATES')|(construction['NAME'] == 'TENNESSEE')|(construction['TYPE'] == '5')]
manufacturing = manufacturing.loc[(manufacturing['NAME'] == 'UNITED STATES')|(manufacturing['NAME'] == 'TENNESSEE')|(manufacturing['TYPE'] == '5')]
wholesale_trade = wholesale_trade.loc[(wholesale_trade['NAME'] == 'UNITED STATES')|(wholesale_trade['NAME'] == 'TENNESSEE')|(wholesale_trade['TYPE'] == '5')]
retail_trade = retail_trade.loc[(retail_trade['NAME'] == 'UNITED STATES')|(retail_trade['NAME'] == 'TENNESSEE')|(retail_trade['TYPE'] == '5')]
transportation_warehousing = transportation_warehousing.loc[(transportation_warehousing['NAME'] == 'UNITED STATES')|
                                                            (transportation_warehousing['NAME'] == 'TENNESSEE')|(transportation_warehousing['TYPE'] == '5')]
information = information.loc[(information['NAME'] == 'UNITED STATES')|(information['NAME'] == 'TENNESSEE')|(information['TYPE'] == '5')]
finance_insurance = finance_insurance.loc[(finance_insurance['NAME'] == 'UNITED STATES')|(finance_insurance['NAME'] == 'TENNESSEE')|(finance_insurance['TYPE'] == '5')]
realestate_rental_leasing = realestate_rental_leasing.loc[(realestate_rental_leasing['NAME'] == 'UNITED STATES')|(realestate_rental_leasing['NAME'] == 'TENNESSEE')|
                                                          (realestate_rental_leasing['TYPE'] == '5')]
professional_technical_services = professional_technical_services.loc[(professional_technical_services['NAME'] == 'UNITED STATES')|
                                                                      (professional_technical_services['NAME'] == 'TENNESSEE')|
                                                                      (professional_technical_services['TYPE'] == '5')]
management_companies_enterprises = management_companies_enterprises.loc[(management_companies_enterprises['NAME'] == 'UNITED STATES')|
                                                                        (management_companies_enterprises['NAME'] == 'TENNESSEE')|
                                                                        (management_companies_enterprises['TYPE'] == '5')]
administrative_waste_services = administrative_waste_services.loc[(administrative_waste_services['NAME'] == 'UNITED STATES')|
                                                                  (administrative_waste_services['NAME'] == 'TENNESSEE')|
                                                                  (administrative_waste_services['TYPE'] == '5')]
educational_services = educational_services.loc[(educational_services['NAME'] == 'UNITED STATES')|(educational_services['NAME'] == 'TENNESSEE')|
                                                (educational_services['TYPE'] == '5')]
healthcare_social_assistance = healthcare_social_assistance.loc[(healthcare_social_assistance['NAME'] == 'UNITED STATES')|
                                                                (healthcare_social_assistance['NAME'] == 'TENNESSEE')|(healthcare_social_assistance['TYPE'] == '5')]
arts_entertainment_recreation = arts_entertainment_recreation.loc[(arts_entertainment_recreation['NAME'] == 'UNITED STATES')|
                                                                  (arts_entertainment_recreation['NAME'] == 'TENNESSEE')|
                                                                  (arts_entertainment_recreation['TYPE'] == '5')]
accommodation_food_services = accommodation_food_services.loc[(accommodation_food_services['NAME'] == 'UNITED STATES')|
                                                              (accommodation_food_services['NAME'] == 'TENNESSEE')|(accommodation_food_services['TYPE'] == '5')]
other_except_public_administration = other_except_public_administration.loc[(other_except_public_administration['NAME'] == 'UNITED STATES')|
                                                                            (other_except_public_administration['NAME'] == 'TENNESSEE')|
                                                                            (other_except_public_administration['TYPE'] == '5')]
federal_civilian = federal_civilian.loc[(federal_civilian['NAME'] == 'UNITED STATES')|(federal_civilian['NAME'] == 'TENNESSEE')|(federal_civilian['TYPE'] == '5')]
federal_military = federal_military.loc[(federal_military['NAME'] == 'UNITED STATES')|(federal_military['NAME'] == 'TENNESSEE')|(federal_military['TYPE'] == '5')]
state_local = state_local.loc[(state_local['NAME'] == 'UNITED STATES')|(state_local['NAME'] == 'TENNESSEE')|(state_local['TYPE'] == '5')]

In [6]:
thelist = ['FILE', 'COUNTY', 'TYPE', 'REGION', 'EA', 'MSA', 'CSA', 'MDIV', 'MICRO', '1969', '1970', '1971', '1972', '1973',
                                                  '1974', '1975', '1976', '1977', '1978', '1979']

In [7]:
totalemployment = totalemployment.drop(columns = thelist)
farm = farm.drop(columns = thelist)
forestry_fishing_related = forestry_fishing_related.drop(columns = thelist)
mining = mining.drop(columns = thelist)
utilities =   utilities.drop(columns = thelist)
construction = construction.drop(columns = thelist)
manufacturing =  manufacturing.drop(columns = thelist)
wholesale_trade = wholesale_trade.drop(columns = thelist)
retail_trade = retail_trade.drop(columns = thelist)
transportation_warehousing =  transportation_warehousing.drop(columns = thelist)
information = information.drop(columns = thelist)
finance_insurance = finance_insurance.drop(columns = thelist)
realestate_rental_leasing = realestate_rental_leasing.drop(columns = thelist)
professional_technical_services = professional_technical_services.drop(columns = thelist)
management_companies_enterprises = management_companies_enterprises.drop(columns = thelist)
administrative_waste_services = administrative_waste_services.drop(columns = thelist)
educational_services =  educational_services.drop(columns = thelist)
healthcare_social_assistance = healthcare_social_assistance.drop(columns = thelist)
arts_entertainment_recreation = arts_entertainment_recreation.drop(columns = thelist)
accommodation_food_services =  accommodation_food_services.drop(columns = thelist)
other_except_public_administration = other_except_public_administration.drop(columns = thelist)
federal_civilian =  federal_civilian.drop(columns = thelist)
federal_military =  federal_military.drop(columns = thelist)
state_local = state_local.drop(columns = thelist)

In [8]:
totalemployment = totalemployment.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Total')
farm = farm.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Farm')
forestry_fishing_related = forestry_fishing_related.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Forestry, Fishing, & Related')
mining = mining.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Mining')
utilities =   utilities.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Utilities')
construction = construction.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Construction')
manufacturing =  manufacturing.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Manufacturing')
wholesale_trade = wholesale_trade.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Wholesale Trade')
retail_trade = retail_trade.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Retail Trade')
transportation_warehousing =  transportation_warehousing.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Transportation & Warehousing')
information = information.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Information')
finance_insurance = finance_insurance.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Finance & Insurance')
realestate_rental_leasing = realestate_rental_leasing.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Real Estate, Rental, & Leasing')
professional_technical_services = professional_technical_services.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Professional & Technical Services')
management_companies_enterprises = management_companies_enterprises.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Management of Companies & Enterprises')
administrative_waste_services = administrative_waste_services.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Administrative & Waste Services')
educational_services =  educational_services.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Educational Services')
healthcare_social_assistance = healthcare_social_assistance.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Healthcare & Social Assistance')
arts_entertainment_recreation = arts_entertainment_recreation.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Arts, Entertainment, & Recreation')
accommodation_food_services =  accommodation_food_services.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Accommodation & Food Services')
other_except_public_administration = other_except_public_administration.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Other')
federal_civilian =  federal_civilian.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Federal Civilian')
federal_military =  federal_military.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'Federal Military')
state_local = state_local.melt(id_vars = 'NAME', var_name = 'Year', value_name = 'State & Local Government')

In [9]:
dfs = [totalemployment, farm, forestry_fishing_related, mining, utilities, construction, manufacturing, wholesale_trade, retail_trade, 
       transportation_warehousing, information, finance_insurance, realestate_rental_leasing, professional_technical_services, 
       management_companies_enterprises, administrative_waste_services, educational_services, healthcare_social_assistance, arts_entertainment_recreation, 
       accommodation_food_services, other_except_public_administration, federal_civilian, federal_military, state_local]

In [10]:
df_merged = reduce(lambda  left,right: pd.merge(left,right, on = ['NAME', 'Year'], how='outer'), dfs)

In [11]:
FINALGEOS = ['UNITED STATES', 'TENNESSEE', 'CHEATHAM, TN', 'DAVIDSON, TN', 'DICKSON, TN', 'HOUSTON, TN', 'HUMPHREYS, TN', 'MAURY, TN', 'MONTGOMERY, TN', 
             'ROBERTSON, TN', 'RUTHERFORD, TN', 'STEWART, TN', 'SUMNER, TN', 'TROUSDALE, TN', 'WILLIAMSON, TN', 'WILSON, TN']

In [12]:
df_merged = df_merged.loc[df_merged['NAME'].isin(FINALGEOS)]

In [13]:
df_merged = df_merged.set_index('NAME').transpose()

In [14]:
df_merged = df_merged.rename(columns = {'UNITED STATES': 'US', 'TENNESSEE': 'Tennessee', 'CHEATHAM, TN': 'Cheatham County', 'DAVIDSON, TN': 'Davidson County',
                                        'DICKSON, TN': 'Dickson County', 'HOUSTON, TN': 'Houston County', 'HUMPHREYS, TN': 'Humphreys County', 
                                        'MAURY, TN': 'Maury County', 'MONTGOMERY, TN': 'Montgomery County', 'ROBERTSON, TN': 'Robertson County', 
                                        'RUTHERFORD, TN': 'Rutherford County', 'STEWART, TN': 'Stewart County', 'SUMNER, TN': 'Sumner County', 
                                        'TROUSDALE, TN': 'Trousdale County', 'WILLIAMSON, TN': 'Williamson County', 'WILSON, TN': 'Wilson County'})

In [15]:
df_merged = df_merged.transpose().reset_index(drop = False)

In [16]:
df_merged = df_merged.melt(id_vars = ['NAME', 'Year'], var_name = 'Industry', value_name = 'Employment')

In [17]:
df_merged.head()

              NAME  Year Industry  Employment
0               US  1980    Total  114118.464
1        Tennessee  1980    Total    2257.544
2  Cheatham County  1980    Total       5.908
3  Davidson County  1980    Total     319.165
4   Dickson County  1980    Total      10.138

In [18]:
df_merged = df_merged.set_index(['Industry', 'Year', 'NAME']).transpose()

In [19]:
years = ['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', 
         '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', 
         '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', 
         '2017', '2018', '2019', '2020', '2021', '2025', '2030', '2035', '2040', '2045']
geos = ['US', 'Tennessee', 'Cheatham County', 'Davidson County', 'Dickson County', 'Houston County', 'Humphreys County', 'Maury County', 'Montgomery County', 
        'Robertson County', 'Rutherford County', 'Stewart County', 'Sumner County', 'Trousdale County', 'Williamson County', 'Wilson County']

In [20]:
data = df_merged

In [21]:
cols = data.columns
for year in years:
    for geo in geos:
        data[('Total Employment', '{}'.format(year), '{}'.format(geo))] = data[('Total', '{}'.format(year), '{}'.format(geo))] * 1000
        data[('Farm Employment', '{}'.format(year), '{}'.format(geo))] = data[('Farm', '{}'.format(year), '{}'.format(geo))] * 1000
        thelist = [data[("Farm", '{}'.format(year), '{}'.format(geo))], 
                   data[('Forestry, Fishing, & Related', '{}'.format(year), '{}'.format(geo))], 
                   data[('Mining', '{}'.format(year), '{}'.format(geo))]]
        data[('Natural Resources & Mining Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000

        data[('Construction Employment', '{}'.format(year), '{}'.format(geo))] = data[('Construction', '{}'.format(year), '{}'.format(geo))] * 1000

        data[('Manufacturing Employment', '{}'.format(year), '{}'.format(geo))] = data[('Manufacturing', '{}'.format(year), '{}'.format(geo))] * 1000
        thelist = [data[("Utilities", '{}'.format(year), '{}'.format(geo))], 
                   data[('Wholesale Trade', '{}'.format(year), '{}'.format(geo))], 
                   data[('Retail Trade', '{}'.format(year), '{}'.format(geo))], 
                   data[('Transportation & Warehousing', '{}'.format(year), '{}'.format(geo))]]
        data[('Trade, Transportation, & Utilities Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000

        data[('Information Employment', '{}'.format(year), '{}'.format(geo))] = data[('Information', '{}'.format(year), '{}'.format(geo))] * 1000

        thelist = [data[("Finance & Insurance", '{}'.format(year), '{}'.format(geo))], 
                   data[('Real Estate, Rental, & Leasing', '{}'.format(year), '{}'.format(geo))]]
        data[('Financial Activities Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000

        thelist = [data[("Professional & Technical Services", '{}'.format(year), '{}'.format(geo))], 
                   data[('Management of Companies & Enterprises', '{}'.format(year), '{}'.format(geo))], 
                   data[('Administrative & Waste Services', '{}'.format(year), '{}'.format(geo))]]
        data[('Professional & Business Services Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000

        thelist = [data[("Educational Services", '{}'.format(year), '{}'.format(geo))], 
                   data[('Healthcare & Social Assistance', '{}'.format(year), '{}'.format(geo))]]
        data[('Education & Health Services Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000

        thelist = [data[("Arts, Entertainment, & Recreation", '{}'.format(year), '{}'.format(geo))], 
                   data[('Accommodation & Food Services', '{}'.format(year), '{}'.format(geo))]]
        data[('Leisure & Hospitality Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000

        data[('Other Employment', '{}'.format(year), '{}'.format(geo))] = data[('Other', '{}'.format(year), '{}'.format(geo))] * 1000

        thelist = [data[("Federal Civilian", '{}'.format(year), '{}'.format(geo))], 
                   data[('Federal Military', '{}'.format(year), '{}'.format(geo))], 
                   data[('State & Local Government', '{}'.format(year), '{}'.format(geo))]]
        data[('Public Administration Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000
        thelist = [data[('Natural Resources & Mining Employment', '{}'.format(year), '{}'.format(geo))], 
                   data[('Construction Employment', '{}'.format(year), '{}'.format(geo))], 
                   data[('Manufacturing Employment', '{}'.format(year), '{}'.format(geo))]]
        data[('Goods Producing Supersector Employment', '{}'.format(year), '{}'.format(geo))] = sum(thelist)
        thelist = [data[('Information Employment', '{}'.format(year), '{}'.format(geo))], 
                   data[('Financial Activities Employment', '{}'.format(year), '{}'.format(geo))],
                   data[('Professional & Business Services Employment', '{}'.format(year), '{}'.format(geo))], 
                   data[('Education & Health Services Employment', '{}'.format(year), '{}'.format(geo))], 
                   data[('Leisure & Hospitality Employment', '{}'.format(year), '{}'.format(geo))], 
                   data[('Other Employment', '{}'.format(year), '{}'.format(geo))], 
                   data[('Public Administration Employment', '{}'.format(year), '{}'.format(geo))]]
        data[('Service Producing Supersector Employment', '{}'.format(year), '{}'.format(geo))] = sum(thelist)

C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Education & Health Services Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:37: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Leisure & Hospitality Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:39: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Other Employment', '{}'.format(year), '{}'.format(geo))] = data[('Other', '{}'.format(year), '{}'.format(geo))] * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Public Administration Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:48: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Goods Producing Supersector Employment', '{}'.format(year), '{}'.format(geo))] = sum(thelist)
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:56: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Service Producing Supersector Employment', '{}'.format(year), '{}'.format(geo))] = sum(thelist)
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Total Employment', '{}'.format(year), '{}'.format(geo))] = data[('Total', '{}'.format(year), '{}'.format(geo))] * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Farm Employment', '{}'.format(year), '{}'.format(geo))] = data[('Farm', '{}'.format(year), '{}'.format(geo))] * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Natural Resources & Mining Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Construction Employment', '{}'.format(year), '{}'.format(geo))] = data[('Construction', '{}'.format(year), '{}'.format(geo))] * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Manufacturing Employment', '{}'.format(year), '{}'.format(geo))] = data[('Manufacturing', '{}'.format(year), '{}'.format(geo))] * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Trade, Transportation, & Utilities Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:20: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Information Employment', '{}'.format(year), '{}'.format(geo))] = data[('Information', '{}'.format(year), '{}'.format(geo))] * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Financial Activities Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000
C:\Users\jmccall\AppData\Local\Temp/ipykernel_3384/116038310.py:29: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider using pd.concat instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  data[('Professional & Business Services Employment', '{}'.format(year), '{}'.format(geo))] = (sum(thelist)) * 1000

In [22]:
data = data.drop(columns = cols)

In [23]:
thing = data.transpose().reset_index(drop = False)
thing.head()

                                Industry  Year NAME   Employment
0                       Total Employment  1980   US  114118464.0
1                        Farm Employment  1980   US    3798000.0
2  Natural Resources & Mining Employment  1980   US    5324874.0
3                Construction Employment  1980   US    5861827.0
4               Manufacturing Employment  1980   US   19484717.0

In [24]:
percents = data

In [25]:
for year in years:
    for geo in geos:
        percents[('Farm Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Farm Employment', '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Natural Resources & Mining Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Natural Resources & Mining Employment'
                                                                                                                     , '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Construction Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Construction Employment', '{}'.format(year),
                                                                                                       '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Manufacturing Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Manufacturing Employment', '{}'.format(year),
                                                                                                        '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Trade, Transportation, & Utilities Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Trade, Transportation, & Utilities Employment', '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Information Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Information Employment', '{}'.format(year),
                                                                                                      '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Financial Activities Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Financial Activities Employment',
                                                                                                               '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Professional & Business Services Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Professional & Business Services Employment', 
                                                                                                                       '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Education & Health Services Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Education & Health Services Employment',
                                                                                                                  '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Leisure & Hospitality Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Leisure & Hospitality Employment', '{}'.format(year),
                                                                                                                '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Other Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Other Employment', '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Public Administration Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Public Administration Employment', '{}'.format(year),
                                                                                                                '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Goods Producing Supersector Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Goods Producing Supersector Employment',
                                                                                                                      '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])
        percents[('Service Producing Supersector Employment', '{}'.format(year), '{}'.format(geo))] = percent(percents[('Service Producing Supersector Employment',
                                                                                                                      '{}'.format(year), '{}'.format(geo))], 
                                                                                   percents[('Total Employment', '{}'.format(year), '{}'.format(geo))])

In [26]:
percents = percents.transpose().reset_index(drop = False)

In [27]:
percents['Percent of Employment'] = percents['Employment']
percents = percents.drop(columns = 'Employment')
percents.head()

                                Industry  Year NAME Percent of Employment
0                       Total Employment  1980   US           114118464.0
1                        Farm Employment  1980   US              3.328121
2  Natural Resources & Mining Employment  1980   US              4.666093
3                Construction Employment  1980   US              5.136616
4               Manufacturing Employment  1980   US             17.074114

In [28]:
percents = percents.set_index('Industry').transpose()
percents = percents.drop(columns = 'Total Employment')

In [29]:
percents = percents.transpose().reset_index(drop = False)

In [30]:
percents.head()

                                        Industry  Year NAME Percent of Employment
0                                Farm Employment  1980   US              3.328121
1          Natural Resources & Mining Employment  1980   US              4.666093
2                        Construction Employment  1980   US              5.136616
3                       Manufacturing Employment  1980   US             17.074114
4  Trade, Transportation, & Utilities Employment  1980   US             19.087071

In [31]:
thing.head()

                                Industry  Year NAME   Employment
0                       Total Employment  1980   US  114118464.0
1                        Farm Employment  1980   US    3798000.0
2  Natural Resources & Mining Employment  1980   US    5324874.0
3                Construction Employment  1980   US    5861827.0
4               Manufacturing Employment  1980   US   19484717.0

In [36]:
data = thing.merge(percents, on = ['Industry', 'Year', 'NAME'], how = 'outer')
data.head()

                                Industry  Year NAME   Employment Percent of Employment
0                       Total Employment  1980   US  114118464.0                   NaN
1                        Farm Employment  1980   US    3798000.0              3.328121
2  Natural Resources & Mining Employment  1980   US    5324874.0              4.666093
3                Construction Employment  1980   US    5861827.0              5.136616
4               Manufacturing Employment  1980   US   19484717.0             17.074114

In [37]:
data = data.set_index('Industry').transpose()
data = data.rename(columns = {'Total Employment': 'Total', 
                              'Farm Employment': 'Farm',
                              'Natural Resources & Mining Employment': 'Natural Resources & Mining', 
                              'Construction Employment': 'Construction', 
                              'Manufacturing Employment': 'Manufacturing', 
                              'Trade, Transportation, & Utilities Employment': 'Trade, Transportation, & Utilities', 
                              'Information Employment': 'Information', 
                              'Financial Activities Employment': 'Financial Activities', 
                              'Professional & Business Services Employment': 'Professional & Business Services', 
                              'Education & Health Services Employment': 'Education & Health Services', 
                              'Leisure & Hospitality Employment': 'Leisure & Hospitality', 
                              'Public Administration Employment': 'Public Administration',
                              'Other Employment': 'Other', 
                              'Goods Producing Supersector Employment': 'Goods Producing', 
                              'Service Producing Supersector Employment': 'Service Producing'
                             }).transpose().reset_index(drop = False)

In [38]:
data.head()

                     Industry  Year NAME   Employment Percent of Employment
0                       Total  1980   US  114118464.0                   NaN
1                        Farm  1980   US    3798000.0              3.328121
2  Natural Resources & Mining  1980   US    5324874.0              4.666093
3                Construction  1980   US    5861827.0              5.136616
4               Manufacturing  1980   US   19484717.0             17.074114

In [39]:
data.to_csv('../../Outputs/WP_INDUSTRYEMP__USTNCOUNTIES_2017BASE_HISTORICALANDPROJECTION.csv', index = False)

In [131]:
years = ['2017', '2020', '2025', '2035', '2045']
stateusmetrics = data.loc[(data['NAME'] == 'US')|(data['NAME'] == 'Tennessee')]

In [132]:
stateusmetrics['NAME'].value_counts()

US           611
Tennessee    611
Name: NAME, dtype: int64

In [133]:
stateusmetrics = stateusmetrics.loc[(data['Industry'] == 'Total Employment')&(data['Year'].isin(years))].reset_index(drop = True)

In [134]:
stateusmetrics = stateusmetrics.drop(columns = 'Industry').rename(columns = {'Employment': 'Employment Projected'})

In [136]:
stateusmetrics = stateusmetrics.pivot_table(values = 'Employment Projected', index = 'NAME', columns = 'Year')

In [139]:
stateusmetrics['GEO_ID'] = 'filler'
stateusmetrics = stateusmetrics.reset_index(drop = False)

In [143]:
stateusmetrics = stateusmetrics.rename_axis(None, axis=1)

In [155]:
#make sure this looks correct to add onto the counties and places
stateusmetrics.head()

        NAME         2017         2020         2025         2035         2045  GEO_ID
0  Tennessee    3977194.0    4150233.0    4451424.0    5040511.0    5592561.0  filler
1         US  195849192.0  204186615.0  218269970.0  245561730.0  271456367.0  filler

In [173]:
#employment from URBANSIM which comes from the 2017 base WP file so the counties are the same
data = pd.read_csv('../../Data Downloads/projections_employment.csv')
data = data.append(stateusmetrics)
data = data.set_index(['NAME', 'GEO_ID'])
data.columns = pd.MultiIndex.from_product([['Employment Projected'], data.columns, ['None']])
data.head()

C:\Users\jmccall\AppData\Local\Temp\ipykernel_13900\2818265688.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(stateusmetrics)

                                             Employment Projected
                                                             2017      2020      2025      2035      2045
                                                             None      None      None      None      None
NAME                        GEO_ID
Cheatham County, Tennessee  0500000US47021                14999.0   15598.0   16641.0   18551.0   20304.0
Davidson County, Tennessee  0500000US47037               638807.0  663935.0  708262.0  794173.0  864682.0
Dickson County, Tennessee   1600000US4720620              25580.0   26652.0   28417.0   31114.0   33019.0
Houston County, Tennessee   0500000US47083                 2606.0    2728.0    2954.0    3365.0    3719.0
Humphreys County, Tennessee 0500000US47085                 8813.0    9027.0    9419.0   10092.0   10660.0

In [174]:
data[('Employment Projected % Change', 'None','2017-2020')] = percentchange(data[('Employment Projected','2020','None')], data[('Employment Projected','2017','None')])
data[('Employment Projected % Change', 'None','2020-2025')] = percentchange(data[('Employment Projected','2025','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2020-2035')] = percentchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2020-2045')] = percentchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected % Change', 'None','2025-2035')] = percentchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2025','None')])
data[('Employment Projected % Change', 'None','2035-2045')] = percentchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2035','None')])

data[('Employment Projected Change', 'None','2017-2020')] = realchange(data[('Employment Projected','2020','None')], data[('Employment Projected','2017','None')])
data[('Employment Projected Change', 'None','2020-2025')] = realchange(data[('Employment Projected','2025','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2020-2035')] = realchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2020-2045')] = realchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2020','None')])
data[('Employment Projected Change', 'None','2025-2035')] = realchange(data[('Employment Projected','2035','None')], data[('Employment Projected','2025','None')])
data[('Employment Projected Change', 'None','2035-2045')] = realchange(data[('Employment Projected','2045','None')], data[('Employment Projected','2035','None')])

In [175]:
data = data.stack([1, 1])
data = data.reset_index(drop = False)
data = data.rename(columns = {'level_2':'Year', 'level_3':'Time Frame'})
#data.tail()
emptidy = data

In [176]:
emptidy = emptidy.set_index('NAME').transpose()

In [177]:
emptidy = emptidy.rename(columns = {'Adams city, Tennessee': 'Adams', 'Ashland City town, Tennessee': 'Ashland City', 'Belle Meade city, Tennessee': 'Belle Meade',
                                    'Berry Hill city, Tennessee': 'Berry Hill', 'Brentwood city, Tennessee': 'Brentwood', 'Burns town, Tennessee': 'Burns',
                                    'Cedar Hill city, Tennessee': 'Cedar Hill', 'Charlotte town, Tennessee': 'Charlotte',
                                    'Cheatham County, Tennessee': 'Cheatham County', 'Clarksville city, Tennessee': 'Clarksville',
                                    'Columbia city, Tennessee': 'Columbia', 'Coopertown town, Tennessee': 'Coopertown',
                                    'Cross Plains city, Tennessee': 'Cross Plains', 'Cumberland City town, Tennessee': 'Cumberland City',
                                    'Davidson County, Tennessee': 'Davidson County', 'Dickson city, Tennessee': 'Dickson',
                                    'Dickson County, Tennessee': 'Dickson County', 'Dover city, Tennessee': 'Dover',
                                    'Eagleville city, Tennessee': 'Eagleville', 'Erin city, Tennessee': 'Erin', 'Fairview city, Tennessee': 'Fairview',
                                    'Forest Hills city, Tennessee': 'Forest Hills', 'Franklin city, Tennessee': 'Franklin', 'Gallatin city, Tennessee': 'Gallatin',
                                    'Goodlettsville city, Tennessee': 'Goodlettsville', 'Greenbrier town, Tennessee': 'Greenbrier',
                                    'Hartsville/Trousdale County, Tennessee': 'Hartsville/Trousdale', 'Hendersonville city, Tennessee': 'Hendersonville',
                                    'Houston County, Tennessee': 'Houston County', 'Humphreys County, Tennessee': 'Humphreys County',
                                    'Kingston Springs town, Tennessee': 'Kingston Springs', 'La Vergne city, Tennessee': 'La Vergne',
                                    'Lebanon city, Tennessee': 'Lebanon', 'Maury County, Tennessee': 'Maury County', 'McEwen city, Tennessee': 'McEwen',
                                    'Millersville city, Tennessee': 'Millersville', 'Mitchellville city, Tennessee': 'Mitchellville',
                                    'Montgomery County, Tennessee': 'Montgomery County', 'Mount Juliet city, Tennessee': 'Mount Juliet',
                                    'Mount Pleasant city, Tennessee': 'Mount Pleasant', 'Murfreesboro city, Tennessee': 'Murfreesboro',
                                    'Nashville-Davidson metropolitan government (balance), Tennessee': 'Nashville', 
                                    'New Johnsonville city, Tennessee': 'New Johnsonville', 'Nolensville town, Tennessee': 'Nolensville',
                                    'Oak Hill city, Tennessee': 'Oak Hill', 'Pegram town, Tennessee': 'Pegram', 'Pleasant View city, Tennessee': 'Pleasant View',
                                    'Portland city, Tennessee': 'Portland', 'Ridgetop city, Tennessee': 'Ridgetop', 'Robertson County, Tennessee': 'Robertson County',
                                    'Rutherford County, Tennessee': 'Rutherford County', 'Slayden town, Tennessee': 'Slayden', 'Smyrna town, Tennessee': 'Smyrna',
                                    'Spring Hill city, Tennessee': 'Spring Hill', 'Springfield city, Tennessee': 'Springfield',
                                    'Stewart County, Tennessee': 'Stewart County', 'Sumner County, Tennessee': 'Sumner County',
                                    'Tennessee Ridge town, Tennessee': 'Tennessee Ridge', "Thompson's Station town, Tennessee": "Thompson's Station",
                                    'Trousdale County, Tennessee': 'Trousdale County', 'Vanleer town, Tennessee': 'Vanleer', 'Watertown city, Tennessee': 'Watertown',
                                    'Waverly city, Tennessee': 'Waverly', 'Westmoreland town, Tennessee': 'Westmoreland', 'White Bluff town, Tennessee': 'White Bluff',
                                    'White House city, Tennessee': 'White House', 'Williamson County, Tennessee': 'Williamson County',
                                    'Wilson County, Tennessee': 'Wilson County'})

In [178]:
emptidy = emptidy.transpose()
emptidy = emptidy.reset_index()
emptidy.head()

              NAME          GEO_ID  Year Time Frame Employment Projected Employment Projected % Change Employment Projected Change
0  Cheatham County  0500000US47021  2017       None              14999.0                           NaN                         NaN
1  Cheatham County  0500000US47021  2020       None              15598.0                           NaN                         NaN
2  Cheatham County  0500000US47021  2025       None              16641.0                           NaN                         NaN
3  Cheatham County  0500000US47021  2035       None              18551.0                           NaN                         NaN
4  Cheatham County  0500000US47021  2045       None              20304.0                           NaN                         NaN

In [179]:
emptidy.tail(200)

                    NAME            GEO_ID  Year Time Frame Employment Projected Employment Projected % Change Employment Projected Change
900             Portland  1600000US4760280  None  2025-2035                  NaN                     16.859352                      2202.0
901             Portland  1600000US4760280  None  2035-2045                  NaN                     14.872568                      2270.0
902             Ridgetop  1600000US4763140  2017       None               1843.0                           NaN                         NaN
903             Ridgetop  1600000US4763140  2020       None               1879.0                           NaN                         NaN
904             Ridgetop  1600000US4763140  2025       None               1961.0                           NaN                         NaN
905             Ridgetop  1600000US4763140  2035       None               2073.0                           NaN                         NaN
906             Ridgetop  1600000US4763140  2045       None               2201.0                           NaN                         NaN
907             Ridgetop  1600000US4763140  None  2017-2020                  NaN                      1.953337                        36.0
908             Ridgetop  1600000US4763140  None  2020-2025                  NaN                      4.364023                        82.0
909             Ridgetop  1600000US4763140  None  2020-2035                  NaN                     10.324641                       194.0
910             Ridgetop  1600000US4763140  None  2020-2045                  NaN                     17.136775                       322.0
911             Ridgetop  1600000US4763140  None  2025-2035                  NaN                      5.711372                       112.0
912             Ridgetop  1600000US4763140  None  2035-2045                  NaN                      6.174626                       128.0
913              Slayden  1600000US4769080  2017       None                  1.0                           NaN                         NaN
914              Slayden  1600000US4769080  2020       None                  2.0                           NaN                         NaN
915              Slayden  1600000US4769080  2025       None                  2.0                           NaN                         NaN
916              Slayden  1600000US4769080  2035       None                  2.0                           NaN                         NaN
917              Slayden  1600000US4769080  2045       None                  3.0                           NaN                         NaN
918              Slayden  1600000US4769080  None  2017-2020                  NaN                         100.0                         1.0
919              Slayden  1600000US4769080  None  2020-2025                  NaN                           0.0                         0.0
920              Slayden  1600000US4769080  None  2020-2035                  NaN                           0.0                         0.0
921              Slayden  1600000US4769080  None  2020-2045                  NaN                          50.0                         1.0
922              Slayden  1600000US4769080  None  2025-2035                  NaN                           0.0                         0.0
923              Slayden  1600000US4769080  None  2035-2045                  NaN                          50.0                         1.0
924               Smyrna  1600000US4769420  2017       None              46596.0                           NaN                         NaN
925               Smyrna  1600000US4769420  2020       None              49024.0                           NaN                         NaN
926               Smyrna  1600000US4769420  2025       None              53117.0                           NaN                         NaN
927               Smyrna  1600000US4769420  2035       None              62054.0                           NaN                         NaN
928               Smyrna  1600000US4769420  2045       None              72041.0                           NaN                         NaN
929               Smyrna  1600000US4769420  None  2017-2020                  NaN                      5.210748                      2428.0
930               Smyrna  1600000US4769420  None  2020-2025                  NaN                      8.348972                      4093.0
931               Smyrna  1600000US4769420  None  2020-2035                  NaN                     26.578819                     13030.0
932               Smyrna  1600000US4769420  None  2020-2045                  NaN                     46.950473                     23017.0
933               Smyrna  1600000US4769420  None  2025-2035                  NaN                     16.825122                      8937.0
934               Smyrna  1600000US4769420  None  2035-2045                  NaN                     16.094047                      9987.0
935          Spring Hill  1600000US4770580  2017       None              13793.0                           NaN                         NaN
936          Spring Hill  1600000US4770580  2020       None              14490.0                           NaN                         NaN
937          Spring Hill  1600000US4770580  2025       None              15444.0                           NaN                         NaN
938          Spring Hill  1600000US4770580  2035       None              17935.0                           NaN                         NaN
939          Spring Hill  1600000US4770580  2045       None              19933.0                           NaN                         NaN
940          Spring Hill  1600000US4770580  None  2017-2020                  NaN                      5.053288                       697.0
941          Spring Hill  1600000US4770580  None  2020-2025                  NaN                      6.583851                       954.0
942          Spring Hill  1600000US4770580  None  2020-2035                  NaN                     23.775017                      3445.0
943          Spring Hill  1600000US4770580  None  2020-2045                  NaN                     37.563837                      5443.0
944          Spring Hill  1600000US4770580  None  2025-2035                  NaN                     16.129241                      2491.0
945          Spring Hill  1600000US4770580  None  2035-2045                  NaN                     11.140229                      1998.0
946          Springfield  1600000US4770500  2017       None              17687.0                           NaN                         NaN
947          Springfield  1600000US4770500  2020       None              18377.0                           NaN                         NaN
948          Springfield  1600000US4770500  2025       None              19580.0                           NaN                         NaN
949          Springfield  1600000US4770500  2035       None              21820.0                           NaN                         NaN
950          Springfield  1600000US4770500  2045       None              23729.0                           NaN                         NaN
951          Springfield  1600000US4770500  None  2017-2020                  NaN                       3.90117                       690.0
952          Springfield  1600000US4770500  None  2020-2025                  NaN                      6.546226                      1203.0
953          Springfield  1600000US4770500  None  2020-2035                  NaN                     18.735376                      3443.0
954          Springfield  1600000US4770500  None  2020-2045                  NaN                     29.123361                      5352.0
955          Springfield  1600000US4770500  None  2025-2035                  NaN                     11.440245                      2240.0
956          Springfield  1600000US4770500  None  2035-2045                  NaN                      8.748854                      1909.0
957      Tennessee Ridge  1600000US4773460  2017       None                423.0                           NaN                         NaN
958      Tennessee Ridge  1600000US4773460  2020       None                433.0                           NaN                         NaN
959      Tennessee Ridge  1600000US4773460  2025       None                453.0                           NaN                         NaN
960      Tennessee Ridge  1600000US4773460  2035       None                506.0                           NaN                         NaN
961      Tennessee Ridge  1600000US4773460  2045       None                555.0                           NaN                         NaN
962      Tennessee Ridge  1600000US4773460  None  2017-2020                  NaN                      2.364066                        10.0
963      Tennessee Ridge  1600000US4773460  None  2020-2025                  NaN                      4.618938                        20.0
964      Tennessee Ridge  1600000US4773460  None  2020-2035                  NaN                     16.859122                        73.0
965      Tennessee Ridge  1600000US4773460  None  2020-2045                  NaN                      28.17552                       122.0
966      Tennessee Ridge  1600000US4773460  None  2025-2035                  NaN                     11.699779                        53.0
967      Tennessee Ridge  1600000US4773460  None  2035-2045                  NaN                      9.683794                        49.0
968   Thompson's Station  1600000US4773900  2017       None               1179.0                           NaN                         NaN
969   Thompson's Station  1600000US4773900  2020       None               1370.0                           NaN                         NaN
970   Thompson's Station  1600000US4773900  2025       None               1742.0                           NaN                         NaN
971   Thompson's Station  1600000US4773900  2035       None               2613.0                           NaN                         NaN
972   Thompson's Station  1600000US4773900  2045       None               3665.0                           NaN                         NaN
973   Thompson's Station  1600000US4773900  None  2017-2020                  NaN                      16.20017                       191.0
974   Thompson's Station  1600000US4773900  None  2020-2025                  NaN                     27.153285                       372.0
975   Thompson's Station  1600000US4773900  None  2020-2035                  NaN                     90.729927                      1243.0
976   Thompson's Station  1600000US4773900  None  2020-2045                  NaN                    167.518248                      2295.0
977   Thompson's Station  1600000US4773900  None  2025-2035                  NaN                          50.0                       871.0
978   Thompson's Station  1600000US4773900  None  2035-2045                  NaN                     40.260237                      1052.0
979              Vanleer  1600000US4776860  2017       None                133.0                           NaN                         NaN
980              Vanleer  1600000US4776860  2020       None                137.0                           NaN                         NaN
981              Vanleer  1600000US4776860  2025       None                147.0                           NaN                         NaN
982              Vanleer  1600000US4776860  2035       None                157.0                           NaN                         NaN
983              Vanleer  1600000US4776860  2045       None                164.0                           NaN                         NaN
984              Vanleer  1600000US4776860  None  2017-2020                  NaN                      3.007519                         4.0
985              Vanleer  1600000US4776860  None  2020-2025                  NaN                       7.29927                        10.0
986              Vanleer  1600000US4776860  None  2020-2035                  NaN                      14.59854                        20.0
987              Vanleer  1600000US4776860  None  2020-2045                  NaN                     19.708029                        27.0
988              Vanleer  1600000US4776860  None  2025-2035                  NaN                      6.802721                        10.0
989              Vanleer  1600000US4776860  None  2035-2045                  NaN                      4.458599                         7.0
990            Watertown  1600000US4778320  2017       None                748.0                           NaN                         NaN
991            Watertown  1600000US4778320  2020       None                832.0                           NaN                         NaN
992            Watertown  1600000US4778320  2025       None                988.0                           NaN                         NaN
993            Watertown  1600000US4778320  2035       None               1259.0                           NaN                         NaN
994            Watertown  1600000US4778320  2045       None               1527.0                           NaN                         NaN
995            Watertown  1600000US4778320  None  2017-2020                  NaN                     11.229947                        84.0
996            Watertown  1600000US4778320  None  2020-2025                  NaN                         18.75                       156.0
997            Watertown  1600000US4778320  None  2020-2035                  NaN                     51.322115                       427.0
998            Watertown  1600000US4778320  None  2020-2045                  NaN                     83.533654                       695.0
999            Watertown  1600000US4778320  None  2025-2035                  NaN                      27.42915                       271.0
1000           Watertown  1600000US4778320  None  2035-2045                  NaN                     21.286736                       268.0
1001             Waverly  1600000US4778560  2017       None               3733.0                           NaN                         NaN
1002             Waverly  1600000US4778560  2020       None               3890.0                           NaN                         NaN
1003             Waverly  1600000US4778560  2025       None               4159.0                           NaN                         NaN
1004             Waverly  1600000US4778560  2035       None               4639.0                           NaN                         NaN
1005             Waverly  1600000US4778560  2045       None               5068.0                           NaN                         NaN
1006             Waverly  1600000US4778560  None  2017-2020                  NaN                      4.205733                       157.0
1007             Waverly  1600000US4778560  None  2020-2025                  NaN                      6.915167                       269.0
1008             Waverly  1600000US4778560  None  2020-2035                  NaN                     19.254499                       749.0
1009             Waverly  1600000US4778560  None  2020-2045                  NaN                     30.282776                      1178.0
1010             Waverly  1600000US4778560  None  2025-2035                  NaN                     11.541236                       480.0
1011             Waverly  1600000US4778560  None  2035-2045                  NaN                      9.247683                       429.0
1012        Westmoreland  1600000US4779420  2017       None               1312.0                           NaN                         NaN
1013        Westmoreland  1600000US4779420  2020       None               1354.0                           NaN                         NaN
1014        Westmoreland  1600000US4779420  2025       None               1460.0                           NaN                         NaN
1015        Westmoreland  1600000US4779420  2035       None               1647.0                           NaN                         NaN
1016        Westmoreland  1600000US4779420  2045       None               1832.0                           NaN                         NaN
1017        Westmoreland  1600000US4779420  None  2017-2020                  NaN                       3.20122                        42.0
1018        Westmoreland  1600000US4779420  None  2020-2025                  NaN                      7.828656                       106.0
1019        Westmoreland  1600000US4779420  None  2020-2035                  NaN                     21.639586                       293.0
1020        Westmoreland  1600000US4779420  None  2020-2045                  NaN                     35.302806                       478.0
1021        Westmoreland  1600000US4779420  None  2025-2035                  NaN                     12.808219                       187.0
1022        Westmoreland  1600000US4779420  None  2035-2045                  NaN                     11.232544                       185.0
1023         White Bluff  1600000US4779980  2017       None               1347.0                           NaN                         NaN
1024         White Bluff  1600000US4779980  2020       None               1434.0                           NaN                         NaN
1025         White Bluff  1600000US4779980  2025       None               1566.0                           NaN                         NaN
1026         White Bluff  1600000US4779980  2035       None               1721.0                           NaN                         NaN
1027         White Bluff  1600000US4779980  2045       None               1810.0                           NaN                         NaN
1028         White Bluff  1600000US4779980  None  2017-2020                  NaN                      6.458797                        87.0
1029         White Bluff  1600000US4779980  None  2020-2025                  NaN                      9.205021                       132.0
1030         White Bluff  1600000US4779980  None  2020-2035                  NaN                     20.013947                       287.0
1031         White Bluff  1600000US4779980  None  2020-2045                  NaN                     26.220363                       376.0
1032         White Bluff  1600000US4779980  None  2025-2035                  NaN                      9.897829                       155.0
1033         White Bluff  1600000US4779980  None  2035-2045                  NaN                      5.171412                        89.0
1034         White House  1600000US4780200  2017       None               7501.0                           NaN                         NaN
1035         White House  1600000US4780200  2020       None               7914.0                           NaN                         NaN
1036         White House  1600000US4780200  2025       None               8490.0                           NaN                         NaN
1037         White House  1600000US4780200  2035       None               9787.0                           NaN                         NaN
1038         White House  1600000US4780200  2045       None              11071.0                           NaN                         NaN
1039         White House  1600000US4780200  None  2017-2020                  NaN                      5.505933                       413.0
1040         White House  1600000US4780200  None  2020-2025                  NaN                      7.278241                       576.0
1041         White House  1600000US4780200  None  2020-2035                  NaN                     23.666919                      1873.0

In [180]:
emptidy.to_csv('../../Outputs/WPURBANSIM_INDUSTRYEMP__COUNTIESPLACES_2017BASE_CURRENTPROJECTEDANDCHANGE.csv', index = False)

In [164]:
#"Table format"
empt = pd.read_csv('../../Data Downloads/projections_employment.csv')
empt = empt.append(stateusmetrics)
empt = empt.set_index('NAME').drop(columns = 'GEO_ID')
empt = empt.add_prefix('Projected Employment ')
empt = empt.transpose()
empt.head()

C:\Users\jmccall\AppData\Local\Temp\ipykernel_13900\5189722.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  empt = empt.append(stateusmetrics)

NAME,"Cheatham County, Tennessee","Davidson County, Tennessee","Dickson County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Maury County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Rutherford County, Tennessee","Stewart County, Tennessee","Sumner County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee","Trousdale County, Tennessee",Cheatham Incorporated,Davidson Incorporated,Dickson Incorporated,Houston Incorporated,Humphreys Incorporated,Maury Incorporated,Montgomery Incorporated,Robertson Incorporated,Rutherford Incorporated,Stewart Incorporated,Sumner Incorporated,Williamson Incorporated,Wilson Incorporated,Cheatham Unincorporated,Davidson Unincorporated,Dickson Unincorporated,Houston Unincorporated,Humphreys Unincorporated,Maury Unincorporated,Montgomery Unincorporatede,Robertson Unincorporated,Rutherford Unincorporated,Stewart Unincorporated,Sumner Unincorporated,Williamson Unincorporated,Wilson Unincorporated,"Adams city, Tennessee","Ashland City town, Tennessee","Belle Meade city, Tennessee","Berry Hill city, Tennessee","Brentwood city, Tennessee","Burns town, Tennessee","Cedar Hill city, Tennessee","Charlotte town, Tennessee","Clarksville city, Tennessee","Columbia city, Tennessee","Coopertown town, Tennessee","Cross Plains city, Tennessee","Cumberland City town, Tennessee","Dickson city, Tennessee","Dover city, Tennessee","Eagleville city, Tennessee","Erin city, Tennessee","Fairview city, Tennessee","Forest Hills city, Tennessee","Franklin city, Tennessee","Gallatin city, Tennessee","Goodlettsville city, Tennessee","Greenbrier town, Tennessee","Hendersonville city, Tennessee","Kingston Springs town, Tennessee","La Vergne city, Tennessee","La Vergne city, Tennessee","La Vergne city, Tennessee","Lebanon city, Tennessee","McEwen city, Tennessee","Millersville city, Tennessee","Mitchellville city, Tennessee","Mount Juliet city, Tennessee","Mount Pleasant city, Tennessee","Murfreesboro city, Tennessee","Nashville-Davidson metropolitan government (balance), Tennessee","New Johnsonville city, Tennessee","Nolensville town, Tennessee","Oak Hill city, Tennessee","Pegram town, Tennessee","Pleasant View city, Tennessee","Portland city, Tennessee","Ridgetop city, Tennessee","Slayden town, Tennessee","Smyrna town, Tennessee","Spring Hill city, Tennessee","Springfield city, Tennessee","Tennessee Ridge town, Tennessee","Thompson's Station town, Tennessee","Vanleer town, Tennessee","Watertown city, Tennessee","Waverly city, Tennessee","Westmoreland town, Tennessee","White Bluff town, Tennessee","White House city, Tennessee",GNRC,MPO,GNRC Region,Tennessee,US
Projected Employment 2017,14999.0,638807.0,25580.0,2606.0,8813.0,49375.0,75683.0,34770.0,171497.0,4537.0,85329.0,195115.0,67948.0,2863.0,12553.0,638807.0,22502.0,1734.0,5652.0,45272.0,64572.0,29994.0,162188.0,3191.0,80968.0,186829.0,60061.0,2446.0,0.0,3078.0,872.0,3161.0,4103.0,11111.0,4776.0,9309.0,1346.0,4361.0,8286.0,7887.0,243.0,7858.0,1842.0,8220.0,70273.0,584.0,164.0,5002.0,64572.0,32154.0,1009.0,415.0,763.0,15439.0,2428.0,734.0,1311.0,3377.0,812.0,104988.0,28626.0,17216.0,1780.0,34095.0,1716.0,20548.0,20548.0,0.0,40028.0,620.0,1563.0,53.0,19215.0,3770.0,94310.0,613044.0,1299.0,2547.0,1191.0,574.0,2403.0,11241.0,1843.0,1.0,46596.0,13793.0,17687.0,423.0,1179.0,133.0,748.0,3733.0,1312.0,1347.0,7501.0,1328547.0,1242841.0,1377922.0,3977194.0,195849192.0
Projected Employment 2020,15598.0,663935.0,26652.0,2728.0,9027.0,51383.0,80329.0,36502.0,181071.0,4703.0,89986.0,212242.0,72472.0,2973.0,13042.0,663935.0,23579.0,1821.0,5840.0,47093.0,68810.0,31467.0,171277.0,3297.0,85447.0,203327.0,64292.0,2556.0,0.0,3073.0,907.0,3187.0,4290.0,11519.0,5035.0,9794.0,1406.0,4539.0,8915.0,8180.0,268.0,8044.0,1867.0,8929.0,73113.0,607.0,173.0,5039.0,68810.0,33844.0,1064.0,474.0,774.0,16364.0,2523.0,803.0,1388.0,4131.0,828.0,116541.0,30403.0,18048.0,1894.0,35895.0,1835.0,21857.0,21857.0,0.0,43153.0,647.0,1721.0,62.0,20237.0,3724.0,99593.0,636630.0,1303.0,3187.0,1268.0,582.0,2576.0,11892.0,1879.0,2.0,49024.0,14490.0,18377.0,433.0,1370.0,137.0,832.0,3890.0,1354.0,1434.0,7914.0,1398218.0,1307591.0,1449601.0,4150233.0,204186615.0
Projected Employment 2025,16641.0,708262.0,28417.0,2954.0,9419.0,54926.0,88583.0,39524.0,198139.0,4993.0,98099.0,244222.0,80759.0,3194.0,13870.0,708262.0,25345.0,1990.0,6190.0,50284.0,76417.0,34023.0,187453.0,3463.0,93261.0,233698.0,72046.0,2771.0,0.0,3072.0,964.0,3229.0,4642.0,12166.0,5501.0,10686.0,1530.0,4838.0,10524.0,8713.0,313.0,8395.0,1924.0,10255.0,78736.0,652.0,195.0,5101.0,76417.0,36930.0,1186.0,564.0,783.0,17881.0,2680.0,916.0,1537.0,5800.0,854.0,137300.0,33452.0,19758.0,2120.0,39078.0,2031.0,24353.0,24353.0,0.0,48343.0,696.0,2001.0,78.0,22641.0,3670.0,109067.0,677921.0,1335.0,4340.0,1390.0,598.0,2841.0,13061.0,1961.0,2.0,53117.0,15444.0,19580.0,453.0,1742.0,147.0,988.0,4159.0,1460.0,1566.0,8490.0,1523206.0,1423931.0,1578132.0,4451424.0,218269970.0
Projected Employment 2035,18551.0,794173.0,31114.0,3365.0,10092.0,61867.0,106240.0,45556.0,234096.0,5465.0,113292.0,319082.0,99238.0,3660.0,15444.0,794173.0,28050.0,2278.0,6764.0,56616.0,92532.0,39120.0,221294.0,3676.0,107897.0,302836.0,89388.0,3107.0,0.0,3064.0,1087.0,3328.0,5251.0,13708.0,6436.0,12802.0,1789.0,5395.0,16246.0,9850.0,428.0,9019.0,2006.0,12487.0,90116.0,724.0,231.0,5173.0,92532.0,42917.0,1428.0,752.0,788.0,20277.0,2888.0,1090.0,1772.0,10779.0,913.0,183621.0,39537.0,22337.0,2636.0,44811.0,2409.0,29319.0,29319.0,0.0,60202.0,779.0,2477.0,102.0,27845.0,3547.0,128831.0,758962.0,1346.0,7904.0,1600.0,630.0,3377.0,15263.0,2073.0,2.0,62054.0,17935.0,21820.0,506.0,2613.0,157.0,1259.0,4639.0,1647.0,1721.0,9787.0,1783924.0,1667304.0,1845791.0,5040511.0,245561730.0
Projected Employment 2045,20304.0,864682.0,33019.0,3719.0,10660.0,68147.0,125716.0,51705.0,272170.0,5867.0,128640.0,408236.0,120231.0,4177.0,16813.0,864682.0,29975.0,2476.0,7280.0,62435.0,110162.0,44175.0,256927.0,3841.0,122688.0,381082.0,109021.0,3491.0,0.0,3044.0,1243.0,3380.0,5712.0,15554.0,7530.0,15243.0,2026.0,5952.0,27154.0,11210.0,589.0,9538.0,2102.0,14661.0,101904.0,791.0,286.0,5187.0,110162.0,48483.0,1697.0,979.0,789.0,22024.0,3052.0,1277.0,1921.0,19300.0,955.0,231977.0,45859.0,24856.0,3211.0,50552.0,2676.0,34625.0,34625.0,0.0,73563.0,841.0,2925.0,125.0,33841.0,3422.0,148984.0,824692.0,1371.0,14813.0,1806.0,668.0,3921.0,17533.0,2201.0,3.0,72041.0,19933.0,23729.0,555.0,3665.0,164.0,1527.0,5068.0,1832.0,1810.0,11071.0,2049126.0,1913811.0,2117273.0,5592561.0,271456367.0

In [165]:
empt = empt.rename(columns = {'Adams city, Tennessee': 'Adams', 'Ashland City town, Tennessee': 'Ashland City', 'Belle Meade city, Tennessee': 'Belle Meade',
                                    'Berry Hill city, Tennessee': 'Berry Hill', 'Brentwood city, Tennessee': 'Brentwood', 'Burns town, Tennessee': 'Burns',
                                    'Cedar Hill city, Tennessee': 'Cedar Hill', 'Charlotte town, Tennessee': 'Charlotte',
                                    'Cheatham County, Tennessee': 'Cheatham County', 'Clarksville city, Tennessee': 'Clarksville',
                                    'Columbia city, Tennessee': 'Columbia', 'Coopertown town, Tennessee': 'Coopertown',
                                    'Cross Plains city, Tennessee': 'Cross Plains', 'Cumberland City town, Tennessee': 'Cumberland City',
                                    'Davidson County, Tennessee': 'Davidson County', 'Dickson city, Tennessee': 'Dickson',
                                    'Dickson County, Tennessee': 'Dickson County', 'Dover city, Tennessee': 'Dover',
                                    'Eagleville city, Tennessee': 'Eagleville', 'Erin city, Tennessee': 'Erin', 'Fairview city, Tennessee': 'Fairview',
                                    'Forest Hills city, Tennessee': 'Forest Hills', 'Franklin city, Tennessee': 'Franklin', 'Gallatin city, Tennessee': 'Gallatin',
                                    'Goodlettsville city, Tennessee': 'Goodlettsville', 'Greenbrier town, Tennessee': 'Greenbrier',
                                    'Hartsville/Trousdale County, Tennessee': 'Hartsville/Trousdale', 'Hendersonville city, Tennessee': 'Hendersonville',
                                    'Houston County, Tennessee': 'Houston County', 'Humphreys County, Tennessee': 'Humphreys County',
                                    'Kingston Springs town, Tennessee': 'Kingston Springs', 'La Vergne city, Tennessee': 'La Vergne',
                                    'Lebanon city, Tennessee': 'Lebanon', 'Maury County, Tennessee': 'Maury County', 'McEwen city, Tennessee': 'McEwen',
                                    'Millersville city, Tennessee': 'Millersville', 'Mitchellville city, Tennessee': 'Mitchellville',
                                    'Montgomery County, Tennessee': 'Montgomery County', 'Mount Juliet city, Tennessee': 'Mount Juliet',
                                    'Mount Pleasant city, Tennessee': 'Mount Pleasant', 'Murfreesboro city, Tennessee': 'Murfreesboro',
                                    'Nashville-Davidson metropolitan government (balance), Tennessee': 'Nashville', 
                                    'New Johnsonville city, Tennessee': 'New Johnsonville', 'Nolensville town, Tennessee': 'Nolensville',
                                    'Oak Hill city, Tennessee': 'Oak Hill', 'Pegram town, Tennessee': 'Pegram', 'Pleasant View city, Tennessee': 'Pleasant View',
                                    'Portland city, Tennessee': 'Portland', 'Ridgetop city, Tennessee': 'Ridgetop', 'Robertson County, Tennessee': 'Robertson County',
                                    'Rutherford County, Tennessee': 'Rutherford County', 'Slayden town, Tennessee': 'Slayden', 'Smyrna town, Tennessee': 'Smyrna',
                                    'Spring Hill city, Tennessee': 'Spring Hill', 'Springfield city, Tennessee': 'Springfield',
                                    'Stewart County, Tennessee': 'Stewart County', 'Sumner County, Tennessee': 'Sumner County',
                                    'Tennessee Ridge town, Tennessee': 'Tennessee Ridge', "Thompson's Station town, Tennessee": "Thompson's Station",
                                    'Trousdale County, Tennessee': 'Trousdale County', 'Vanleer town, Tennessee': 'Vanleer', 'Watertown city, Tennessee': 'Watertown',
                                    'Waverly city, Tennessee': 'Waverly', 'Westmoreland town, Tennessee': 'Westmoreland', 'White Bluff town, Tennessee': 'White Bluff',
                                    'White House city, Tennessee': 'White House', 'Williamson County, Tennessee': 'Williamson County',
                                    'Wilson County, Tennessee': 'Wilson County'})

In [166]:
empt = empt.transpose()
empt = empt.reset_index()
empt.tail()

,NAME,Projected Employment 2017,Projected Employment 2020,Projected Employment 2025,Projected Employment 2035,Projected Employment 2045
95,GNRC,1328547.0,1398218.0,1523206.0,1783924.0,2049126.0
96,MPO,1242841.0,1307591.0,1423931.0,1667304.0,1913811.0
97,GNRC Region,1377922.0,1449601.0,1578132.0,1845791.0,2117273.0
98,Tennessee,3977194.0,4150233.0,4451424.0,5040511.0,5592561.0
99,US,195849192.0,204186615.0,218269970.0,245561730.0,271456367.0

In [168]:
empt.to_csv('../../Outputs/WPURBANSIM_INDUSTRYEMP__COUNTIESPLACES_2017BASE_CURRENTPROJECTEDTABLE.csv', index = False)

In [169]:
empt.tail()

,NAME,Projected Employment 2017,Projected Employment 2020,Projected Employment 2025,Projected Employment 2035,Projected Employment 2045
95,GNRC,1328547.0,1398218.0,1523206.0,1783924.0,2049126.0
96,MPO,1242841.0,1307591.0,1423931.0,1667304.0,1913811.0
97,GNRC Region,1377922.0,1449601.0,1578132.0,1845791.0,2117273.0
98,Tennessee,3977194.0,4150233.0,4451424.0,5040511.0,5592561.0
99,US,195849192.0,204186615.0,218269970.0,245561730.0,271456367.0