In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y
def percent(x, y):
    return (x/y)*100

From data explorer, select "GDP", and then select the GNRC region and all counties in it, then values: 'GDP', 'Taxes', 'Gross Surplus', 'Compensation'. Format the document so that there is only one column and the commas are removed from the numbers, then save in Data Downloads as "JobsEQGDP_RegionCounty.csv".

In [78]:
data = pd.read_csv('../../Data Downloads/JobsEQGDP_RegionCounty.csv')

In [79]:
data.head()

,NAME,2001,2001.1,2001.2,2001.3,2002,2002.1,2002.2,2002.3,2003,2003.1,2003.2,2003.3,2004,2004.1,2004.2,2004.3,2005,2005.1,2005.2,2005.3,2006,2006.1,2006.2,2006.3,2007,2007.1,2007.2,2007.3,2008,2008.1,2008.2,2008.3,2009,2009.1,2009.2,2009.3,2010,2010.1,2010.2,2010.3,2011,2011.1,2011.2,2011.3,2012,2012.1,2012.2,2012.3,2013,2013.1,2013.2,2013.3,2014,2014.1,2014.2,2014.3,2015,2015.1,2015.2,2015.3,2016,2016.1,2016.2,2016.3,2017,2017.1,2017.2,2017.3,2018,2018.1,2018.2,2018.3,2019,2019.1,2019.2,2019.3,2020,2020.1,2020.2,2020.3,2021,2021.1,2021.2,2021.3
0,NAME,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation,GDP,Taxes,Gross Surplus,Compensation
1,USA,1.05819E+13,6.68978E+11,3.8666E+12,6.04634E+12,1.09291E+13,7.18628E+11,4.0671E+12,6.14337E+12,1.14564E+13,7.56563E+11,4.33758E+12,6.36229E+12,1.22172E+13,8.21714E+11,4.66618E+12,6.7293E+12,1.30392E+13,8.81528E+11,5.07994E+12,7.07771E+12,1.38156E+13,9.45572E+11,5.37875E+12,7.49125E+12,1.44742E+13,9.82249E+11,5.60261E+12,7.88937E+12,1.47698E+13,9.97182E+11,5.70399E+12,8.06867E+12,1.44781E+13,9.68466E+11,5.7424E+12,7.76718E+12,1.5049E+13,1.00727E+12,6.10873E+12,7.93296E+12,1.55997E+13,1.04371E+12,6.322E+12,8.23401E+12,1.6254E+13,1.07808E+12,6.60053E+12,8.57536E+12,1.68432E+13,1.12894E+12,6.87059E+12,8.84363E+12,1.75507E+13,1.18274E+12,7.10828E+12,9.25966E+12,1.82057E+13,1.21795E+12,7.27826E+12,9.70951E+12,1.86949E+13,1.24988E+12,7.46792E+12,9.97705E+12,1.94796E+13,1.30644E+12,7.73642E+12,1.04367E+13,2.05268E+13,1.39842E+12,8.15859E+12,1.09698E+13,2.13725E+13,1.45939E+12,8.45371E+12,1.14594E+13,2.08937E+13,7.73264E+11,8.54038E+12,1.15801E+13,2.29961E+13,8.5593E+11,9.47061E+12,1.26695E+13
2,Tennessee,1.86435E+11,12667833000,68717577000,1.0505E+11,1.9576E+11,13506494000,74040143000,1.08213E+11,2.0512E+11,14555840000,77722956000,1.12842E+11,2.19322E+11,15719990000,83879690000,1.19722E+11,2.31627E+11,16550006000,90189172000,1.24888E+11,2.43578E+11,17523430000,94941070000,1.31114E+11,2.48691E+11,18376498000,93008326000,1.37306E+11,2.54242E+11,18532300000,95782700000,1.39927E+11,2.52333E+11,17020707000,1.02139E+11,1.33173E+11,2.57776E+11,18058093000,1.0347E+11,1.36248E+11,2.69814E+11,19018665000,1.09185E+11,1.41611E+11,2.86342E+11,19903593000,1.15872E+11,1.50566E+11,2.95863E+11,20394234000,1.21955E+11,1.53513E+11,3.06153E+11,20808193000,1.26064E+11,1.59281E+11,3.25294E+11,22015559000,1.35549E+11,1.6773E+11,3.36414E+11,22518553000,1.40042E+11,1.73854E+11,3.49838E+11,23064980000,1.44998E+11,1.81775E+11,3.6138E+11,23641070000,1.46385E+11,1.91353E+11,3.76915E+11,24610696000,1.53014E+11,1.99291E+11,3.69572E+11,11686622000,1.54136E+11,2.03749E+11,4.18294E+11,13689677000,1.75529E+11,2.29076E+11
3,GNRC Region,58130905000,4107027000,21663857000,32360020000,61227088000,4299293000,23750800000,33176995000,66096920000,4774319000,25924329000,35398272000,70602408000,5156139000,27577488000,37868781000,75437584000,5580103000,29768364000,40089117000,80671494000,5966714000,31824149000,42880631000,81999388000,6217789000,31112544000,44669054000,84888098000,6268412000,32647382000,45972303000,84299984000,5806233000,34680972000,43812779000,87461372000,6225045000,35989822000,45246505000,92599083000,6618945000,38841216000,47138922000,99793425000,7049626000,41640468000,51103331000,1.04554E+11,7314748000,44524247000,52714677000,1.10097E+11,7591575000,47137387000,55368410000,1.18046E+11,8152329000,51080846000,58812570000,1.24344E+11,8445844000,54148176000,61750413000,1.31479E+11,8844284000,56970096000,65664732000,1.37652E+11,9175134000,58135747000,70341581000,1.46555E+11,9705799000,61923670000,74925116000,1.40717E+11,4569248000,60345930000,75802170000,1.61147E+11,5359639000,69493284000,86294506000
4,"Cheatham County, Tennessee",459011000,25329000,213383000,220299000,529622000,25753000,249072000,254797000,564349000,27926000,265164000,271259000,624725000,32093000,287821000,304811000,678594000,36444000,320301000,321849000,719686000,36874000,344586000,338227000,709845000,51044000,324424000,334377000,784282000,52417000,370591000,361274000,755793000,42704000,370795000,342294000,769461000,45329000,380035000,344097000,760023000,46182000,373090000,340750000,766824000,42473000,382019000,342331000,828838000,46347000,421661000,360830000,819879000,41252000,407176000,371451000,920911000,46177000,483117000,391617000,939492000,54590000,486476000,398427000,1026863000,44549000,534222000,448092000,1071879000,45256000,546603000,480020000,1104530000,48637000,545351000,510542000,1094723000,17516000,543562000,533645000,1233382000,20148000,620371000,592864000

In [80]:
data = data.set_index('NAME').transpose()

In [81]:
data = data.rename(columns = {'NAME': 'Value'})

In [82]:
data = data.reset_index(drop = False)
data.head()

NAME,index,Value,USA,Tennessee,GNRC Region,"Cheatham County, Tennessee","Davidson County, Tennessee","Dickson County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Maury County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Rutherford County, Tennessee","Stewart County, Tennessee","Sumner County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee"
0,2001,GDP,1.05819E+13,1.86435E+11,58130905000,459011000,34030813000,853636000,67172000,410507000,2585673000,2308493000,884599000,5635494000,164665000,2577945000,97668000,5969112000,2086116000
1,2001.1,Taxes,6.68978E+11,12667833000,4107027000,25329000,2519208000,46339000,3388000,18622000,135620000,161087000,42369000,393611000,4594000,166446000,6084000,451716000,132613000
2,2001.2,Gross Surplus,3.8666E+12,68717577000,21663857000,213383000,11944944000,313142000,28327000,158010000,849420000,910011000,360460000,2024265000,65710000,1089465000,48793000,2754994000,902932000
3,2001.3,Compensation,6.04634E+12,1.0505E+11,32360020000,220299000,19566661000,494156000,35456000,233876000,1600633000,1237394000,481770000,3217618000,94361000,1322035000,42791000,2762403000,1050571000
4,2002,GDP,1.09291E+13,1.9576E+11,61227088000,529622000,35126157000,836484000,66664000,424719000,2832641000,2459213000,972061000,6241577000,183563000,2718891000,98397000,6384502000,2352597000

In [83]:
data['index'] = data['index'].str.strip()
data['Value'] = data['Value'].str.strip()

In [84]:
boop = data['index'].str.split(pat = ".", expand = True)
data['Year'] = boop[0]

In [85]:
data = data.drop(columns = 'index')

In [86]:
data.head()

NAME,Value,USA,Tennessee,GNRC Region,"Cheatham County, Tennessee","Davidson County, Tennessee","Dickson County, Tennessee","Houston County, Tennessee","Humphreys County, Tennessee","Maury County, Tennessee","Montgomery County, Tennessee","Robertson County, Tennessee","Rutherford County, Tennessee","Stewart County, Tennessee","Sumner County, Tennessee","Trousdale County, Tennessee","Williamson County, Tennessee","Wilson County, Tennessee",Year
0,GDP,1.05819E+13,1.86435E+11,58130905000,459011000,34030813000,853636000,67172000,410507000,2585673000,2308493000,884599000,5635494000,164665000,2577945000,97668000,5969112000,2086116000,2001
1,Taxes,6.68978E+11,12667833000,4107027000,25329000,2519208000,46339000,3388000,18622000,135620000,161087000,42369000,393611000,4594000,166446000,6084000,451716000,132613000,2001
2,Gross Surplus,3.8666E+12,68717577000,21663857000,213383000,11944944000,313142000,28327000,158010000,849420000,910011000,360460000,2024265000,65710000,1089465000,48793000,2754994000,902932000,2001
3,Compensation,6.04634E+12,1.0505E+11,32360020000,220299000,19566661000,494156000,35456000,233876000,1600633000,1237394000,481770000,3217618000,94361000,1322035000,42791000,2762403000,1050571000,2001
4,GDP,1.09291E+13,1.9576E+11,61227088000,529622000,35126157000,836484000,66664000,424719000,2832641000,2459213000,972061000,6241577000,183563000,2718891000,98397000,6384502000,2352597000,2002

In [87]:
data = data.rename(columns = {'USA': 'US', 'Cheatham County, Tennessee': 'Cheatham County', 'Davidson County, Tennessee': 'Davidson County', 
                              'Dickson County, Tennessee': 'Dickson County', 'Houston County, Tennessee': 'Houston County', 
                              'Humphreys County, Tennessee': 'Humphreys County', 'Maury County, Tennessee': 'Maury County', 
                              'Montgomery County, Tennessee': 'Montgomery County',
                              'Robertson County, Tennessee': 'Robertson County', 'Rutherford County, Tennessee': 'Rutherford County', 
                              'Stewart County, Tennessee': 'Stewart County', 'Sumner County, Tennessee': 'Sumner County', 
                              'Trousdale County, Tennessee': 'Trousdale County', 'Williamson County, Tennessee': 'Williamson County', 
                              'Wilson County, Tennessee': 'Wilson County'
                             })

In [88]:
data.head()

NAME,Value,US,Tennessee,GNRC Region,Cheatham County,Davidson County,Dickson County,Houston County,Humphreys County,Maury County,Montgomery County,Robertson County,Rutherford County,Stewart County,Sumner County,Trousdale County,Williamson County,Wilson County,Year
0,GDP,1.05819E+13,1.86435E+11,58130905000,459011000,34030813000,853636000,67172000,410507000,2585673000,2308493000,884599000,5635494000,164665000,2577945000,97668000,5969112000,2086116000,2001
1,Taxes,6.68978E+11,12667833000,4107027000,25329000,2519208000,46339000,3388000,18622000,135620000,161087000,42369000,393611000,4594000,166446000,6084000,451716000,132613000,2001
2,Gross Surplus,3.8666E+12,68717577000,21663857000,213383000,11944944000,313142000,28327000,158010000,849420000,910011000,360460000,2024265000,65710000,1089465000,48793000,2754994000,902932000,2001
3,Compensation,6.04634E+12,1.0505E+11,32360020000,220299000,19566661000,494156000,35456000,233876000,1600633000,1237394000,481770000,3217618000,94361000,1322035000,42791000,2762403000,1050571000,2001
4,GDP,1.09291E+13,1.9576E+11,61227088000,529622000,35126157000,836484000,66664000,424719000,2832641000,2459213000,972061000,6241577000,183563000,2718891000,98397000,6384502000,2352597000,2002

In [89]:
cols = data.columns
data = data.melt(var_name = 'NAME', id_vars = ['Value', 'Year'], value_vars = cols, value_name = 'Money')

In [90]:

data.head()

           Value  Year NAME        Money
0            GDP  2001   US  1.05819E+13
1          Taxes  2001   US  6.68978E+11
2  Gross Surplus  2001   US   3.8666E+12
3   Compensation  2001   US  6.04634E+12
4            GDP  2002   US  1.09291E+13

In [91]:
data.to_csv('../../Outputs/JOBSEQGDP_RegionCounty.csv', index = False)